.header__btn-section {
    display: flex;
    gap: 20px;
}

.header__btn-section button{
    border: none;
    outline: none;
    cursor: pointer;
}

.btn__consultation {
    background: var(--btn-gradient);
    color: var(--white-color);
    padding: 20px 40px;
}

.btn-reg-log {
    background: none;
    padding: 20px 10px;
}