.featured__courses__section {
    padding: 90px 0px;
}

.featured__courses-tittle {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.tittle__head-secondary {
    font-weight: bold;
    line-height: 150%;
    font-size: 16px;
}

.tittle_head-main{
    font-weight: bold;
    line-height: 130%;
    font-size: 46px;
}

.courses__tittle-btn {
    padding: 10px 40px;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    color: var(--primary-color);
}

.courses__tittle-btn:hover {
    border: none;
    background: var(--btn-gradient);
    color: var(--white-color);
}


.featured__courses-catalog {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 60px;
}
