.featured__courses__section {
    padding: 90px 0px;
}

.featured__courses-tittle {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.tittle__head-secondary {
    font-weight: bold;
    line-height: 150%;
    font-size: 16px;
}

.tittle_head-main{
    font-weight: bold;
    line-height: 130%;
    font-size: 46px;
}

.courses__tittle-btn {
    padding: 10px 40px;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
    color: var(--primary-color);
}

.courses__tittle-btn:hover {
    border: none;
    background: var(--btn-gradient);
    color: var(--white-color);
}


.featured__courses-catalog {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 60px;
}

.courses__catalog-item {
    display: flex;
    border: 1px solid var(--gray-300-color);
    border-radius: 4px;
}

.catalog__item-info {
    padding: 32px;
}

.item__info-category {
    background: var(--succes-color);
    padding: 1px 8px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;
    color: var(--white-color);
}

.item__info-tittle {
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
}

.item__info-price-mentor {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.item__info-price {
    color: var(--danger-color);
    font-weight: bold;
}

.delimiter,
.item__info-mentor {
    color: var(--gray-700-color);
}