.main__screen {
    min-height: 100vh;
    background: var( --main-screen-gradient);
}

.main__screen-head {
    font-size: 60px;
    margin-top: 50px;
}

.main-img-head_section {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
}

.main__screen-btn-play {
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.play__btn-section {
    display: flex;
    align-items: center;
}

.play__btn-head {
    font-weight: bold;
}

.main__screen-btn-play:hover {
    background: rgba(0, 0, 0, 0.178);
}

.main__button-section button {
    padding: 20px 40px;
    border: none;
    background: var(--btn-gradient);
    color: var(--white-color);
    font-size: 18px;
}

.main__button-section button:hover {
    border: 1px solid var(--btn-gradient);
    background: transparent;
    color: var(--gray-900-color);
    cursor: pointer;
}

.main__button-section {
    display: flex;
    gap: 25px;
    margin-top: 100px;
}

