.header {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

.header__inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
